# Игнорировать бинарные исполняемые файлы
*.exe
*.o
*.so
*.txt

# Игнорировать временные файлы редактора
*.swp
*~

# Игнорировать объектные файлы и сборочные артефакты
build/
dist/

# Игнорировать личные конфигурации среды разработчика
.idea/
.DS_Store
Thumbs.db

# Лог-файлы
*.log
